## Cleaning the Meta Stock Datasheet

Import the Meta Datasheet and adjust the columns

In [67]:
import pandas as pd
import numpy as np
from datetime import datetime

In [68]:
df = pd.read_csv("../Datasets/META.csv", index_col='Date', parse_dates=True) #removes the original index column
df = df.drop(columns=["Unnamed: 0", "Open", "High", "Low", "Volume"])
df.head(5)

                Close
Date
2012-05-18  38.151600
2012-05-21  33.960213
2012-05-22  30.936428
2012-05-23  31.934378
2012-05-24  32.962265

Set the Dates from between 2021 - 2022

In [69]:
start = datetime(2021, 1, 1)
stop = datetime(2022, 12, 31)
df = df[start:stop]

In [70]:
df.head()

                 Close
Date
2021-01-04  268.388489
2021-01-05  270.414307
2021-01-06  262.770020
2021-01-07  268.188904
2021-01-08  267.021301

In [71]:
df.tail()

                 Close
Date
2022-12-23  117.797935
2022-12-27  116.640312
2022-12-28  115.382896
2022-12-29  120.013382
2022-12-30  120.093208

Export Dataframe to CSV

In [72]:
df.to_csv('../Parsed Datasets/meta.csv')