## Cleaning the Roblox Stock Datasheet

Import the Roblox Datasheet and adjust the columns

In [13]:
import pandas as pd
from datetime import datetime
from pathlib import Path

In [8]:
df = pd.read_csv("../Datasets/RBLX.csv", index_col='Date', parse_dates=True) #removes the original index column
df = df.drop(columns=["Open", "High", "Low", "Volume", "Adj Close"])
df.head(5)

                Close
Date
2021-03-11  73.900002
2021-03-12  69.699997
2021-03-15  72.150002
2021-03-16  77.000000
2021-03-17  76.790001

Set the Dates from between 2021 - 2022

In [9]:
start = datetime(2021, 1, 1)
stop = datetime(2022, 12, 31)
df = df[start:stop]

In [10]:
df.head()

                Close
Date
2021-03-11  73.900002
2021-03-12  69.699997
2021-03-15  72.150002
2021-03-16  77.000000
2021-03-17  76.790001

In [11]:
df.tail()

                Close
Date
2022-12-23  26.750000
2022-12-27  26.330000
2022-12-28  26.160000
2022-12-29  27.090000
2022-12-30  28.459999

Export dataframe as a CSV file

In [14]:
df.to_csv('../Parsed Datasets/rblx.csv')